.container {
    width: 1100px;
    display: flex;
    flex: row;
    flex-wrap: wrap;
}

.job-container {
    width: 350%;
    height: 228px;
    border-radius: 6px;
    background-color: #ffffff;
    margin: 0 30px 40px 0;
    padding-left: 32px;
}

.job-container h1:hover {
    color: #6E8098;
    cursor: pointer;

}

mat-grid-tile:nth-child(3n+3) .job-container {
    margin-right: 0 !important;
}

.logo-container {
    height: 50px;
    width: 50px;
    /* background-color: #E99210; */
    border-radius: 15px;
    margin-top: -24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtext {
    margin-top: 20px;
    color: #6E8098;
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 16px;
}

.dot {
    margin-left: 5px;
    margin-right: 5px;
}

.job-information h1 {
    font-size: 20px;
    font-weight: 500;
    color: #19202D;
}

.job-information p {
    color: #6E8098;
    font-weight: 200;
    font-size: 16px;
}

.location h2 {
    color: #5964E0;
    font-weight: 500;
    font-size: 14px;
    margin-top: 30px;
}